*{
    text-align: center;
}
/* position realtive */
.container{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    position: relative;
    top: 20px;
    color: white;
    font-size: 30px;
}
/* position fixed */
.container2{
    height: 80px;
    width: 200px;
    background-color: red;
    position: fixed;
    left: 550px;
    bottom: 50px;
    color: white;
    font-size: 30px;
}

/* position absolute */
.container3{
    height: 100px;
    width: 200px;
    background-color: green;
    position: absolute;
    bottom: 500px;
    right: 100px;
    color: white;
    font-size: 30px;
}
.one{
    margin-top: 50px;
    background-color: red;
}
.two{
    background-color: orange;
}
.three{
    background-color: blue;
}
.four{
    background-color: green;
    position: sticky;
    top: 20px;
}
.five{
    background-color: aqua;
}

/* position : relative 
    position relative is always related to its next element 
    or the browser */

.container5{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    position: relative;
    color: white;
    font-size: 30px;
    top: 20px;
}
.box{
    height: 50px;
    width: 50px;
    background-color: orangered;
    position: absolute;
}
.container6{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    position: relative;
    top: 10px;
    color: white;
    font-size: 30px;
}
.box1{
    height: 50px;
    width: 80px;
    background-color: orangered;
    position: absolute;
    left: 40px;
}